<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3"></script>
</head>
<body>
    <h1>Test Vue</h1>
    <div id="app">
        <div class="form">
            <span>Book title: </span>
            <input v-model="zad5.title" type="text">
            <span>Name author: </span>
            <input v-model="zad5.name" type="text">
            <span>Surname author: </span>
            <input v-model="zad5.sname" type="text">
            <button @click="showData()"> Save </button>
        </div>
    </div>

    <!-- Import app -->
    <script src="main.js"></script>
    <!-- Mount app -->
    <script>
        const mountedApp = app.mount('#app')
    </script>
</body>
</html>

<style>
    .form {
        display: flex;
        flex-direction: column;
        width: 20%;
    }
</style> 